<p align="center">Mood list</p>


<%= obj.each do |m| %>
  <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <p>Mood</p>
        </div>
    </div><!--/row-->
  </div> <!-- /container -->
<% end %>